/* ######################### Generales ###################################*/
header, body, nav, footer, aside {
    font-family: 'Franklin Gothic Book', Arial, sans-serif;
    max-width: 98%;
    margin: auto;
    
} 

/* ######################### Body ###################################*/
body{    
    align-content: flex-start;
    background-color: white;    
}

/* ######################### Nav ###################################*/
nav{
    
    width:98%;
    display: flow-root;
    align-items: center;
    align-content: flex-start;
    margin: auto;
    background-color:  #005883;
    height: 60px;  
}

/* ######################### Seccion/Contenedor ###################################*/
.central{   
    background-color: gainsboro;
    display: inline-block;
    align-items: center;
    text-align: justify;
    max-width: 60%;
    padding: 1%;
}

.contenedor{    
    text-align: center;    
}

.pdf{
    text-align: center;
    width: auto;
}


/* ######################### Aside ###################################*/
aside{
    max-width: 35%;
    display: inline-block;
    padding: 1%;
    vertical-align: top;
}

/* ######################### Footer ###################################*/
footer{
    
    
    text-align: center;
   
    

}

footer a{
    
    
    color: white;

    background-color: #005883;
}

/*###################################*/
.slider{    
    width: 95%;
    margin: auto;
    overflow: hidden;
}

.slider ul{
    display: flex;
    padding: 0;
    width: 100%; 

    animation: cambio 30s infinite alternate linear;
}

.slider li{
    width: 100%;
    list-style: none;
}

.slider img {
    width: 100%;
}

@keyframes cambio{
    0% {margin-left: 0;}
    20% {margin-left: 0;}

    20% {margin-left: 10%;}
    40% {margin-left: 10%;}

    40% {margin-left: -10%;}
    60% {margin-left: -10%;}

    60% {margin-left: 10%;}
    80% {margin-left: 10%;}

    80% {margin-left: -10%;}
    100% {margin-left: -10%;}
}


.video-responsive, .twitter-timeline{
    
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-evenly;
}

/* Menu */
.menu{
    text-align: center;
}

.menu li{

    display: inline-block;
}



li a, .btn{
    background-color:  #005883;
    border-radius: 100px;
    color: #ffffff;
    display: inline-block;
    font-size: 20px;
    font-weight: 200;
    height: 35px;
    padding: 1%;
    text-align: center; 
    text-decoration: none;
    width: 130px;
  
}


.listadesplegable{
    display: none;
    background-color: rgba(255, 253, 253, 0);
    position: absolute;
    
}

.listadesplegable a{
    color: black;
    background-color: white;
    display: block;
    text-align: center;

}

.btn:hover .listadesplegable{
    display: block;
    background-color: rgba(172, 255, 47, 0);
}

.btn:hover{ /* ok -  solo aplica color al pasar el mouse*/
    color: #F47920;
    background-color: #ffffff;
} 

.listadesplegable:hover a{
    color: #F47920;
    background-color: #ffffff;
}