/* ######################### Generales ###################################*/
header, nav, .contenedor, footer, aside {
    max-width: 98%;
    margin: auto;
    font-family: 'Franklin Gothic Book', Arial, sans-serif;
} 

/* ######################### Body ###################################*/
body{
    background-color: white;
}

/* ######################### Nav ###################################*/
nav{
    width:100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color:  #005883;
    height: 50px;  
}

/* ######################### Seccion/Contenedor ###################################*/
.central{
    background-color: gainsboro;
    display: inline-block;
    max-width: 67%;
    padding: 1%;
}

/* ######################### Aside ###################################*/
aside{
    background-color: lightgrey;
    display: inline-block;
    max-width: 27%;
    padding: 1%;
}

/* ######################### Footer ###################################*/
footer {
    color: white;
    
    background-color: #005883;
}

/* ######################### Especificos ###################################*/
.btn1, .btn2, .btn3, .btn4, .btn5{
    text-decoration: none;
    padding: 4px;
    font-weight: 200;
    font-size: 20px;
    color: #ffffff;
    background-color:  #005883;
    border-radius: 8px;
    height: 35px;
    width: 130px;    
}

.btn1:hover, .btn2:hover, .btn3:hover, .btn4:hover, .btn5:hover{
    color: #F47920;
    background-color: #ffffff;
}

/*###################################*/
.slider{    
    width: 95%;
    margin: auto;
    overflow: hidden;
}

.slider ul{
    display: flex;
    padding: 0;
    width: 100%; 

    animation: cambio 30s infinite alternate linear;
}

.slider li{
    width: 100%;
    list-style: none;
}

.slider img {
    width: 100%;
}

@keyframes cambio{
    0% {margin-left: 0;}
    20% {margin-left: 0;}

    20% {margin-left: 10%;}
    40% {margin-left: 10%;}

    40% {margin-left: -10%;}
    60% {margin-left: -10%;}

    60% {margin-left: 10%;}
    80% {margin-left: 10%;}

    80% {margin-left: -10%;}
    100% {margin-left: -10%;}
}


.video-responsive{
    width:100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}